<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pendu</title>
</head>
<body>
    {{if gt .Attempt 0}}
        <h4>Bienvenue</h4>
        <div>
            <span>Il te reste {{.Attempt}} essais</span>
        </div>
        <br>
        <div>
            Vous devez deviner {{.HiddenWord}}
            <form method="POST">
                {{if eq .OldUserInput .UserInput}}
                    <label>Vous avez déjà essayé ça, tentez autre chose</label><br>
                {{else}}
                    <label>Entrez un mot ou une lettre</label><br>
                {{end}}
                <input type="text" name="user_input"><br>
                <input type="submit">
            </form>
        </div>
    {{else}}
        <div>Tu as perdu</div>
    {{end}}
    {{.Tried}}
</body>
</html>